*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    background-color: #DADADA ;
    flex-direction: column;
    align-items: center;
}
#profilePicture{
    width: 123px ;
    margin-top: 76px;
}
#name{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 7px ;
}
#ocupation{
    font-weight: 300;
    font-size: 12px;
}
.btn{
    width: 184px;
    height: 30px;
    border: none;
    border-radius: 8px ;
    background-color:#8DFF65;
    color: white;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}
#signature{
    position: fixed;
     bottom: 10px ;
}